.contestList {
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
}

.contestList .fa-2x {
	vertical-align: middle;
}

.contestList h1 {
	color: #000;
	font-size: 35px;
}

.contestList h2 {
	font-size: 25px;
	margin: 40px 0px;
}

.contestList h3 {
	margin-top: 0;
	font-size: 18px
}


.contestList button {
	width: 90%;
	padding: 20px;
}

.contestList .oneContest {
	margin: 20px 0px;
}

.contestList img {
	max-width: 300px;
	display: inline-block;
	border: 1px solid #ddd;
	border-radius: 8px;
}

.contestList .contestImg {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.contestList .description {
	display: inline-block;
	width: 50%;
	text-align: left;
	vertical-align: top;
}

.contestList p {
	font-size: 12px;
}
