/* CONTEST STYLESHEET */
.contribution {
	margin-bottom: 10px;
}

.contribution h3 {
	text-align: left;
	font-family: 'Montserrat', Arial, sans-serif;
	margin: 10px 0 5px 0;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}

.contribution .item-contest {
	overflow: auto;
}

.contribution .item-contest .like {
	float: left;
	padding: 0;
}

.contribution .item-contest .like span {
	background: url("../../public/images/like.png") 0 0 no-repeat;
	background-size: 100%;
	display: block;
	float: left;
	text-indent: -99999px;
	height: 20px;
	width: 20px;
	margin-right: 5px;
}
