/* CONTEST STYLESHEET */
.contribution {
	margin-bottom: 10px;
	border:0px solid #eee;
	margin-left: 2%;
	padding: 0.1%;
	background: #fff;
	height: 280px;
	width: 340px;
	box-shadow: 0 0 3px #ccc;
}

.contribution img {
	height: 200px;
	width: 100% !important;
}

.contribution h3 {
	text-align: left;
	font-family: 'Montserrat', Arial, sans-serif;
	margin: 10px 0 5px 0;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}

.contribution .item-contest {
	overflow: auto;
}

.contribution .item-contest .like {
	float: left;
	margin-left: 2%;
	padding: 0;
}

.contribution .item-contest .like span {
	background: url("../../public/images/like.png") 0 0 no-repeat;
	background-size: 100%;
	display: block;
	float: left;
	text-indent: -99999px;
	height: 20px;
	width: 20px;
	margin-right: 5px;
}

/* ----------- page index ---------- */

.contributionIndex {
	margin-bottom: 10px;
	border: 6px solid #eee;
	margin-left: 2%;
	padding: 0%;
	background: #fff;
	height: 212px;
	width: 340px;
	box-shadow: 0 0 3px #ccc;
	transition: all 0.4s ease;
}

.contributionIndex img {
	height: 200px;
	width: 100% !important;
}

.contributionIndex h3 {
	text-align: left;
	font-family: 'Montserrat', Arial, sans-serif;
	margin: 10px 0 5px 0;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}
