/* CONTEST STYLESHEET */
.portfolio-item .item-contest {
	margin: 10px 0;
	overflow: auto;
}

.portfolio-item .item-contest .like,
.portfolio-item .item-contest .share {
	padding: 0;
	font-size: 12px;
}

.portfolio-item .item-contest .item-contest-icon > span {
    width: 19px;
    height: 17px;
    text-indent: -99999px;
    display: inline-block;
}

.portfolio-item .item-contest .like > span {
	background: url("../../public/images/like.svg") 0 1px no-repeat;
	background-size: 100%;
}

.portfolio-item .item-contest .share > span {
	background: url("../../public/images/share.svg") 0 1px no-repeat;
	background-size: 100%;
}

.portfolio-item .item-title {
	font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding: 0;
    margin: 15px 0 0 0;
}

.portfolio-item .item-meta {
	color: #6d6c6c;
}

.portfolio-item .item-description {
	font-family: 'Open-Sans', Arial, sans-serif;
	color: #6d6c6c;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* ADMIN SECTION - CONTESTS LIST */
#contest_list {
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
}

#contest_list .fa-2x {
	vertical-align: middle;
}

#contest_list h1 {
	color: #000;
	font-size: 35px;
}

#contest_list h2 {
	font-size: 25px;
	margin: 40px 0px;
}

#contest_list h3 {
	margin-top: 0;
	font-size: 18px
}


#contest_list button {
	width: 90%;
	padding: 20px;
}

#contest_list .contest {
	margin: 20px 0px;
}

#contest_list img {
	max-width: 300px;
	display: inline-block;
	border: 1px solid #ddd;
	border-radius: 8px;
}

#contest_list .contest_img {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

#contest_list .description {
	display: inline-block;
	width: 50%;
	text-align: left;
	vertical-align: top;
}

#contest_list p {
	font-size: 12px;
}
