.navbar-inverse {
	background-color: #2c2e43;
	border: none;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse .navbar-brand {
	color: #fff;
	background: #232639;
	width: 225px;
}

.navbar-inverse .navbar-brand:hover {
	background-color: #232639;
}

.page-header {
	font-family: 'Montserrat', Arial, sans-serif;
    margin: 90px 0 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
}

.form-control:focus {
	outline: none;
	box-shadow: none;
	border-color: #999;
}

.side-nav #admin-bar {
	background: url("../../public/images/patterns/footer_lodyas.png");
	padding: 20px 0;
}

.side-nav #admin-bar img {
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto 10px auto;
}

.side-nav #admin-bar .admin-name {
	font-family: 'Montserrat', Arial, sans-serif;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.side-nav #admin-bar .admin-role {
	color: #fff;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
}

.form-content {
	overflow: auto;
    clear: both;
}

.form-content input[type="submit"] {
	color: #fff;
	margin: 0 0 30px 0;
	background-color: #2c2e43;
	width: 200px;
	outline: none;
	border: none;
	padding: 8px;
	transition: all ease 300ms;
}

.error {
	color: red;
	margin-top: 5px;
}

/*----------------------*/
/*---- DATE PICKER ----*/
/*--------------------*/
.ui-datepicker {
    width: 216px;
    height: auto;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}


/*--------------------*/
/*---- DASHBOARD ----*/
/*------------------*/
#dashboard-panel .violet {
	background-color: #603cba;
	overflow: auto;
}

#dashboard-panel .panel {
	color: #fff;
}

#dashboard-panel .panel p {
	color: #fff;
	margin-top: 30px;
}

/*----------------------*/
/*---- AJOUT ADMIN ----*/
/*--------------------*/
#add-contest textarea {
	resize: none;
}

/*-----------------------------*/
/*---- LISTE DES CONCOURS ----*/
/*---------------------------*/
#contest-list {
	margin: 0 auto;
	padding-top: 30px;
}

#contest-list .add-contest a {
	background-color: #f25f93;
	border: 3px solid #f25f93;
    padding: 10px;
    color: #fff;
    width: 260px;
    text-align: center;
    font-family: 'Montserrat', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0 0 20px 15px;
    display: block;
    transition: all ease 300ms;
}

#contest-list .add-contest a:hover{
	text-decoration: none;
	background: transparent;
	color: #f25f93;
}

#contest-list .list img {
	width: 100%;
}

#contest-list .contest {
	margin-bottom: 20px;
}

#contest-list .contest .contest-informations {
	background: #eee;
	padding: 10px;
	overflow: auto;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#contest-list .contest .contest-informations .logo img {
	width: 60px;
}

#contest-list .contest .contest-informations h3 {
	margin-top: 0;
	font-size: 15px;
	font-family: 'Montserrat', Arial, sans-serif;
}

#contest-list .contest .contest-informations p {
	font-size: 12px;
	margin: 0 0 5px 0;
}

#contest-list .contest .contest-informations .description {
	height: 80px;
}

#contest-list .contest .contest-informations .color-theme span {
	width: 15px;
    height: 15px;
    border-radius: 100%;
    display: inline-block;
}

#contest-list #contest-table tr > th {
	background: #ccc;
	color: #777;
	text-align: center;
	font-weight: normal;
	font-family: 'Montserrat', Arial, sans-serif;
	text-transform: uppercase;
	font-size: 12px;
}

#contest-list #contest-table tr > td {
	color: #777;
	text-align: center;
	font-weight: normal;
	vertical-align: middle;
	font-size: 11px;
}

#contest-list #contest-table tr > td > img {
	width: 50px;
}

#contest-list #contest-table tr > td > span {
	width: 15px;
    height: 15px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}

#user-list table tr th,
#user-list table tr td {
	text-align: center;
}

/*-----------------------------*/
/*-------- ADD PRICES --------*/
/*---------------------------*/
.search-contest select {
    border-radius: inherit;
    outline: none;
    margin-top: 5px;
    height: 35px;
    width: 150px;
}

.search-contest input[type="submit"] {
    background-color: #2c2e43;
    border: none;
    height: 33px;
    color: #fff;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    width: 150px;
}

input[type="submit"]:focus {
	outline: none;
}

#add-prices {
    margin-top: 50px;
    overflow: auto;
}

#add-prices .form-control {
	width: 90%;
}

#add-prices textarea {
	padding: 5px;
	resize: none;
	height: 100px;
	width: 90%;
}

#add-prices textarea:focus {
	outline: none;
}

