.navbar-right li {
	color: #fff;
	padding: 16px;
}

.navbar-inverse {
	background-color: #2c2e43;
	border: none;
}

.navbar-inverse .navbar-brand {
	color: #fff;
	background: #232639;
	width: 225px;
}

.navbar-inverse .navbar-brand:hover {
	background-color: #232639;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.page-header {
	font-family: 'Montserrat', Arial, sans-serif;
    margin: 70px 0 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
}

.form-control:focus {
	outline: none;
	box-shadow: none;
	border-color: #999;
}

/*----------------------*/
/*---- DATE PICKER ----*/
/*--------------------*/
.ui-datepicker {
	background: #fff;
	border: 1px solid #ccc;
}

.ui-datepicker td a {
	color: #49c2fb;
}

/*--------------------*/
/*---- DASHBOARD ----*/
/*------------------*/
#dashboard-panel .violet {
	background-color: #603cba;
	overflow: auto;
}

#dashboard-panel .panel {
	color: #fff;
}

#dashboard-panel .panel p {
	color: #fff;
	margin-top: 30px;
}

/*----------------------*/
/*---- AJOUT ADMIN ----*/
/*--------------------*/
#add-contest .banner-size-error p {
	color: red;
}

#add-contest textarea {
	resize: none;
}

#add-contest input[type="submit"] {
	margin: 0 0 30px 0;
	background-color: #2c2e43;
	width: 200px;
	outline: none;
	border: none;
	padding: 8px;
	transition: all ease 300ms;
}

/*-----------------------------*/
/*---- LISTE DES CONCOURS ----*/
/*---------------------------*/
#contest-list {
	margin: 0 auto;
	padding-top: 30px;
}

#contest-list img {
	width: 100%;
}

#contest-list .contest {
	margin-bottom: 20px;
}

#contest-list .contest .contest-informations {
	background: #eee;
	padding: 10px;
	overflow: auto;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#contest-list .contest .contest-informations .logo img {
	width: 60px;
}

#contest-list .contest .contest-informations h3 {
	margin-top: 0;
	font-size: 15px;
	font-family: 'Montserrat', Arial, sans-serif;
}

#contest-list .contest .contest-informations p {
	font-size: 12px;
	margin: 0 0 5px 0;
}

#contest-list .contest .contest-informations .color-theme span {
	width: 15px;
    height: 15px;
    border-radius: 100%;
    display: inline-block;
}

#contest-list .contest .contest-informations .contest-actions {
	border-top: 1px solid #ccc;
    padding-top: 8px;
    margin-top: 10px;
}

#contest-list .contest .contest-informations .contest-actions a {
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	color: #222;
}

#contest-list .contest .contest-informations .contest-actions a:hover {
	text-decoration: none;
}



