#contest_list {
	margin: 0 auto;
	padding-top: 30px;
}

#contest_list .fa-2x {
	vertical-align: middle;
}

#contest_list p {
	font-size: 12px;
	font-family: 'Montserrat', Arial, sans-serif;
}

#contest_list button {
	width: 90%;
	padding: 20px;
}

#contest_list .contest {
	margin: 20px 0px;
	overflow: auto;
}

#contest_list .contest h3 {
	margin-top: 0;
	font-size: 18px;
	font-family: 'Montserrat', Arial, sans-serif;
}

#contest_list .contest p {
	margin: 0 0 5px 0;
}

#contest_list .contest .description {
	width: 250px;
}

#contest_list .contest .color-theme span {
	width: 15px;
    height: 15px;
    border-radius: 100%;
    display: inline-block;
}

#contest_list img {
	max-width: 300px;
	display: inline-block;
	border: 1px solid #ddd;
	border-radius: 8px;
	float; left;
}


