/* HOME STYLESHEET */
.banner {
  background: url(../../public/images/banners/wallpapers-4_5beGe33.jpg) no-repeat center fixed;
  margin: 0;
  padding: 0;
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
  overflow: auto;
}
  .imgLot {
    border: 0px solid gray;
    height: 280px;
    box-shadow: 0px 0px 3px gray;
  }
  .btn-vot {
    box-shadow: 0px 0px 2px black;
  }
  .btn-vot:hover {
    margin-left: 3px;
  }