/* HOME STYLESHEET */
.body-header {
    background: #eee;
    padding: 4% 0 3% 0;
    margin-top: -2%;
  }
  .imgLot {
    border: 0px solid gray;
    height: 280px;
    box-shadow: 0px 0px 3px gray;
  }
  .btn-vot {
    box-shadow: 0px 0px 2px black;
  }
  .btn-vot:hover {
    margin-left: 3px;
  }