/* HOME STYLESHEET */
#banner {
  background: url(../../public/images/banners/fanta_wallpaper_hd.jpg) no-repeat center fixed;
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 400px;
  padding: 0;
}

#banner .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
}

#banner .overlay .banner-content {
  height: 100%;
  min-height: 100%;
  position: relative;
}

#banner .overlay .banner-content .holder {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
}

#banner .overlay .banner-content .holder .inner {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 100%;
}

#banner .overlay .banner-content .holder .inner .contest-title   {
  font-family: 'Montserrat', Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}

#banner .overlay .banner-content .holder .inner .contest-description   {
  font-family: 'Open Sans', Arial, sans-serif;
  width: 450px;
  text-align: center;
  margin: 0 auto 40px;
  color: #fff;
}

#banner .fb-connect-button {
  float: none;
  width: 338px;
  margin: 0 auto;
}

#banner .fb-connect-button span {
  text-align: center;
  color: #fff;
  display: block;
  margin-bottom: 10px;
}

#banner .fb-connect-button a {
  display: block;
  transition: all ease 300ms;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: lighter;
  width: 200px;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  border: 3px solid #fff;
  padding: 7px;
}

#banner .fb-connect-button a:hover {
  text-decoration: none;
  background-color: #fff;
  color: #444;
}

