/* LOGIN STYLESHEET */

/* Login Admin */
#login-admin {
    background: #3CA55C;
    background: -webkit-linear-gradient(to left, #3CA55C, #B5AC49);
    background: linear-gradient(to left, #3CA55C, #B5AC49);
    position: absolute;
    width: 100%;
    height: 100%;
}

#login-admin .login-admin-section {
    position: absolute;
    top: 40%;
    margin-top: -100px;
    background: #fff;
    padding-top: 20px;
}