/* LOGIN STYLESHEET */

/* Login Admin */
#login-admin {
	background: #3CA55C;
	background: -webkit-linear-gradient(to left, #3CA55C , #B5AC49);
	background: linear-gradient(to left, #3CA55C , #B5AC49);
	position: absolute;
	width: 100%;
	height: 100%;
}

#login-admin .login-admin-section {
	position:absolute;
    left: 30%;
    top: 50%;
    width: 500px;
    margin-left: -100px;
    margin-top: -100px;
    background: #fff;
}