/* MAIN STYLESHEET */
* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

img {
	display: block;
}

span {
	display: inline-block;
}

/* General */
.navbar-fixed-top {
	position: fixed;
}

.navbar {
	margin: 0;
	padding: 0;
}

.navbar .navbar-header > a {
	color: #fff;
}

.navbar .navbar-header > span {
	font-family: 'Open Sans', Arial, sans-serif;
	color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	display: inline-block;
	text-transform: uppercase;
	margin-right: 20px;
}

.navbar .nav > li > a {
	color: #fff;
}

.navbar .nav > li > a:focus, .nav > li > a:hover {
	background: none;
}

.navbar .navbar-right > li > a {
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 3px 10px;
	margin-top: 11px;
	margin-bottom: 11px;
	transition: all ease 300ms;
}

.navbar .navbar-right > li > a:hover {
	background-color: #fff;
	color: #12ba74;
}

.navbar .navbar-right > li > a:hover, a:focus {
    background-color: none !important;
}

.page-header {
	color: #6d6c6c;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}

.navbar-right li {
	margin-right: 2%;
}

.user-picture-profile {
	border-radius: 100%;
	padding: 5px 0;
	width: 38px;
}

.user_participate {
	display: inline-block;
	transition: all 0.6s ease;
	color: #000;
}

.user_participate > a {
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
}

.user_participate > a:hover {
	text-decoration: none;
}

#contest, #participate {
	text-align: center;
}

#contest h1, #participate h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  color: #000000;
  border-bottom: none;
}

