#nocontest {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    text-align: center;
}

#nocontest #content {
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 10%;
    padding: 100px 0px;
    border: 10px solid #000;
}

#nocontest img {
    max-width: 230px;
    height: auto;
    margin: 0 auto;
}