.participate .uploaded_img {
	height: 250px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 6px;
	margin: 0 auto;
}

.participate p {
	font-size: 12px;
}

.participate .uploaded_img {
	overflow: hidden;
}

.participate #blah {
	max-width: 350px;
	max-height: 350px;
}