.imgParticipate {
	border:0px solid gray;
	border-radius: 5px; 
	width: 145px;
	height: 140px;
	box-shadow: 0px 0px 4px gray;
	margin-left: 2%;
	display: inline;
}

.imgFbUser {
	border: 1px solid #ccc;
	border-radius: 5px;
	max-height: 300px;
	overflow: auto;
	padding:2% 1% 1% 1%; 
	margin-bottom: 4%;
}
